mixin entry(entry)
  .entry(style="margin: 0 0 20px 0;")
    .main-line(style="line-height: 18px; font-size: 14px; margin-bottom: 5px;")
      a(href="#{entry.url}" style="color: #1a81ac; font-weight; bold; font-size: 18px;")
        = entry.title
        if entry.pdf
          span(style="color: #2baadf;")  [PDF]

      -var metas = []
      if entry.author
        if entry.authorUrl
          -metas.push(' by <a href="' + entry.authorUrl + '" style="color: #666;" class="author">' + entry.author + '</a>')
        else
          -metas.push(' by <span class="author">' + entry.author + '</span>')
      else
        -metas.push('')

      if entry.extraInfo
        -metas.push('<span class="extra" style="' + (entry.paid ? 'color: #111; font-weight: bold;' : '') + '">' + entry.extraInfo + '</span>')
      
      if entry.domain
        -metas.push('<a class="domain" style="font-family: Courier New; color: #666; text-decoration: none;" href="http://' + entry.domain + '">' + entry.domain + '</a>')

      
      if metas.length > 0
        !='<span class="meta" style="color: #666;">' + metas.join(' - ') + '</span>'


    if entry.description
      .description(style="padding: 0px 5px 00 0; font-size: 14px; line-height: 1.4; #{entry.descriptionIsQuote ? 'font-style: italic;' : ''}")
        != entry.description.split("\n").join("<br />")


mixin entry_form_items (entry)
  .form-group.row
    .col-md-2
      label Status
    .col-md-10
      select.form-control(name="status")
        option(value="approved" selected=(entry.status == 'approved' ? "selected" : undefined)) approved
        option(value="sent" selected=(entry.status == 'sent' ? "selected" : undefined)) sent
        option(value="rejected" selected=(entry.status == 'rejected' ? "selected" : undefined)) rejected
  .form-group.row
    .col-md-2
      label URL
    .col-md-10
      input.form-control(name="url" type="text" value="#{entry.url || ''}")
  .form-group.row
    .col-md-2
      label Title
    .col-md-10
      input.form-control(name="title" type="text" value="#{entry.title || ''}")
  .form-group.row
    .col-md-2
      label Extra Info
    .col-md-10
      input.form-control(name="extraInfo" type="text" value="#{entry.extraInfo || ''}")
  .form-group.row
    .col-md-2
      label Domain
    .col-md-10
      input.form-control(name="domain" type="text" value="#{entry.domain || ''}")
  .form-group.row
    .col-md-2
      label Description
    .col-md-10
      textarea.form-control(name="description" type="text" rows="3")
        | #{entry.description || ''}
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox" name="descriptionIsQuote" value="1" checked=(entry.descriptionIsQuote ? "checked" : undefined))
        span.custom-control-indicator
        span.custom-control-description Is a quote
  .form-group.row
    .col-md-2
      label Author
    .col-md-10
      input.form-control(name="author" type="text" value="#{entry.author || ''}")
  .form-group.row
    .col-md-2
      label Author URL
    .col-md-10
      input.form-control(name="authorUrl" type="text" value="#{entry.authorUrl || ''}")
  .form-group.row
    .col-md-10.offset-md-2
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox" name="paid" value="1" checked=(entry.paid ? "checked" : undefined))
        span.custom-control-indicator
        span.custom-control-description Paid
  .form-group.row
    .col-md-10.offset-md-2
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox" name="pdf" value="1" checked=(entry.pdf ? "checked" : undefined))
        span.custom-control-indicator
        span.custom-control-description PDF